@import url('./sidebar.css');

.dashboard {
    display: flex;
    gap: 20px;
}

.profile-link{
    cursor: pointer;
}
.profile-link.active {
    color: red;
}
.profile-content {
    flex: 1;
    padding: 20px;
}

.profile-section {
    margin-bottom: 20px;
}

.profile-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e63946;
}

.profile-section p {
    margin-bottom: 10px;
}

.btn-edit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e63946;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-edit:hover {
    background-color: #d62828;
}
