.main-error-404 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.error-container {
    width: 100%;
    padding: 20px;
    background: white;
    text-align: center;
    margin: 0 auto;
}

.error-container h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.error-container a.btn-error {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #dc3545;
    text-decoration: none;
    border-radius: 5px;
}

.error-container a.btn-error:hover {
    background-color: #c82333;
}
